


%div{style: 'margin-top: 100px;'}

  playlist-modify-private
  ^ create playlist
  ^ Reorder playlist Tracks
  ^ remove tracks
  ^ add tracks to aplylist

  streaming
  ^ play pause

  user-read-playback-state
  ^ currently playing track

  user-modify-playback-state
  ^playback

  user-library-read


  playlist-read-private